# This file specifies files that are *not* uploaded to Google Cloud when
# you deploy your application. See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore
# for more information.

.gcloudignore
.git
.gitignore
.vscode/

# Python build artifacts and caches
__pycache__/
*.pyc

# Dependency directories
node_modules/

# IDE files
.idea/
*.sublime-workspace

# Environment files
.env
